alabaster==0.7.12
appnope==0.1.0
backcall==0.1.0
certifi==2018.11.29
Click==7.0
colorama==0.4.1
decorator==4.3.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
jsons==0.5.3
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
MarkupSafe==1.1.0
numpy==1.15.4
pandas==0.23.4
parso==0.3.1
passlib==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.7
psycopg2==2.7.6.1
ptyprocess==0.6.0
pur==5.2.1
Pygments==2.3.1
python-dateutil==2.7.5
pytz==2018.7
simplegeneric==0.8.1
six==1.12.0
SQLAlchemy==1.2.15
tensorboard==1.11.0
tensorflow==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
wincertstore==0.2